.changenum{
    display: flex;
    width: 5rem;
    border:1px solid #f0f0f0;
}

.changenum view{
    width: 33.3%;
    text-align: center;
}

.changenum .add{
    border-right: 1px solid #f0f0f0;
}

.changenum .reduce{
    border-left: 1px solid #f0f0f0;

}
